* {
    padding: 0;
    margin: 0;
    font-family: helvetica -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/*Her starter stylingen af indholdet på PROJECTS undersiden*/
    /*Grid container på projects siden*/
.grid-container-projects {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "header header header header"
    "frontpagepic1 frontpagepic1 frontpagepic1 prontpagepic1"
    "frontpagepic2 frontpagepic2 frontpagepic2 frontpagepic2"
    "frontpagepic3 frontpagepic3 frontpagepic3 frontpagepic3"
    "frontpagepic4 frontpagepic4 frontpagepic4 frontpagepic4"
    "frontpagepic5 frontpagepic5 frontpagepic5 frontpagepic5"
    "frontpagepic6 frontpagepic6 frontpagepic6 frontpagepic6"
    "footer footer footer footer"
    ;
}

header {
    grid-area: header;
    background-color:#2372F0;
}


/*Burger menu start*/
.menu {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #F4B5EA;
    overflow-x: hidden;
    transition: 0.5s;
  }
  
.menu-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
  }


.menu a {
    padding: 8px;
    text-decoration: none;
    font-size: 3em;
    color: #2372F0;
    display: block;
    transition: 0.3s;
  }

  .menu a:hover {
    color: #F3F6F4;
  }
  
  .menu a:hover, .overlay a:focus {
    color: black;
  }
  
  .menu .closebtn {
    position: absolute;
    top: 0.3rem;
    right: 1rem;
    font-size: 50px;
    color: #2372F0;
  }

span {
    font-size: 30px;
    cursor: pointer;
    color: #000000;
    margin-left: 90%;
    margin-top: 20px;
}  

/*Burger menu end*/

/*Her begynder stylingen af billederne på siden*/
.frontpagepic1 {
    grid-area: frontpagepic1;
    background-color: #F4B5EA;
}

.frontpagepic1 h2 {
    color: #2372F0;
    text-align: center;
    padding: 20px;
    font-weight: bolder;
    font-size: 25px;
}

.frontpagepic1 img {
    height: 70%;
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
    padding-bottom: 20px;
}

.frontpagepic2 {
    grid-area: frontpagepic2;
    background-color: #F4B5EA;
}

.frontpagepic2 img {
    height: 70%;
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
    padding-bottom: 20px;
}

.frontpagepic3 {
    grid-area: frontpagepic3;
    background-color: green;
}

.frontpagepic4 {
    grid-area: frontpagepic4;
    background-color: red;
}

.frontpagepic5 {
    grid-area: frontpagepic5;
    background-color: orange;
}

.frontpagepic6 {
    grid-area: frontpagepic6;
    background-color: brown;
}

footer {
    grid-area: footer;
    background-color: cadetblue;
}

/*Her slutter stylingen af indholdet på PROJECTS undersiden*/


/*Her starter stylingen af indholdet på about me undersiden*/

/*Her slutter stylingen af indholdet på about me undersiden*/


/*Her starter stylingen af indholdet på malibu undersiden*/

/*Her slutter stylingen af indholdet på malibu undersiden*/


/*Her starter stylingen af indholdet på folk dance undersiden*/

/*Her slutter stylingen af indholdet på folk dance undersiden*/


/*Her starter stylingen af indholdet på the space odyssey undersiden*/

/*Her slutter stylingen af indholdet på folk the space odyssey undersiden*/