* {
    padding: 0;
    margin: 0;
    font-family: helvetica -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/*Her starter stylingen af indholdet på PROJECTS undersiden*/
    /*Grid container på projects siden*/
.grid-container-projects {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "header header header header"
    "frontpagepic1 frontpagepic1 frontpagepic1 prontpagepic1"
    "frontpagepic2 frontpagepic2 frontpagepic2 frontpagepic2"
    "frontpagepic3 frontpagepic3 frontpagepic3 frontpagepic3"
    "frontpagepic4 frontpagepic4 frontpagepic4 frontpagepic4"
    "frontpagepic5 frontpagepic5 frontpagepic5 frontpagepic5"
    "frontpagepic6 frontpagepic6 frontpagepic6 frontpagepic6"
    "footer footer footer footer"
    ;
}

header {
    grid-area: header;
    background-color:#2372F0;
}


/*Burger menu start*/
.menu {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #F4B5EA;
    overflow-x: hidden;
    transition: 0.5s;
  }
  
.menu-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
  }


.menu a {
    padding: 8px;
    text-decoration: none;
    font-size: 3em;
    color: #2372F0;
    display: block;
    transition: 0.3s;
  }

  .menu a:hover {
    color: #F3F6F4;
  }
  
  .menu a:hover, .overlay a:focus {
    color: black;
  }
  
  .menu .closebtn {
    position: absolute;
    top: 0.3rem;
    right: 1rem;
    font-size: 50px;
    color: #2372F0;
  }

span {
    font-size: 30px;
    cursor: pointer;
    color: #000000;
    margin-left: 90%;
    margin-top: 20px;
}  

/*Burger menu end*/

/*Her begynder stylingen af billederne på siden*/
.frontpagepic1 {
    grid-area: frontpagepic1;
    background-color: #F4B5EA;
}

.frontpagepic1 h2 {
    color: #2372F0;
    text-align: center;
    padding: 20px;
    font-weight: bolder;
    font-size: 25px;
}

.frontpagepic1 img {
    height: 70%;
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
    padding-bottom: 20px;
}

.frontpagepic2 {
    grid-area: frontpagepic2;
    background-color: #F4B5EA;
    border: none;
}

.frontpagepic2 img {
    height: 70%;
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
    padding-bottom: 20px;
}

.frontpagepic3 {
    grid-area: frontpagepic3;
    background-color: #F4B5EA;
}

.frontpagepic3 img {
    height: 70%;
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
    padding-bottom: 20px;
}

.frontpagepic4 {
    grid-area: frontpagepic4;
    background-color: #F4B5EA;
}

.frontpagepic4 img {
    height: 70%;
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
    padding-bottom: 20px;
}

.frontpagepic5 {
    grid-area: frontpagepic5;
    background-color: #F4B5EA;
}

.frontpagepic5 img {
    height: 70%;
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
    padding-bottom: 20px;
}

.frontpagepic6 {
    grid-area: frontpagepic6;
    background-color: #F4B5EA;
}

.frontpagepic6 img {
    height: 70%;
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
    padding-bottom: 20px;
}

footer {
    grid-area: footer;
    background-color: cadetblue;
}

/*Her slutter stylingen af indholdet på PROJECTS undersiden*/


/*Her starter stylingen af indholdet på about me undersiden*/
.grid-container-aboutme {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "header header header header"
    "section section section section"
    "main main main main"
    "footer footer footer footer"
    ;
}

header {
    grid-area: header;
    background-color: #2372F0;
}

section {
    grid-area: section;
    background-color: #F4B5EA;
}

section img {
    width: 80%;
    height: 80%;
    margin-left: 10%;
    margin-right: 10%;
    padding-top: 20px;
    padding-bottom: 20px;
} 

main {
    grid-area: main;
    background-color: #F4B5EA;
    padding-bottom: 20px;
}

main h2 {
    text-align: center;
    padding: 20px;
    color: #2372F0;
    font-size: 25px;
    font-weight: bolder;
}

main p {
    color: #2372F0;
    margin-left: 5%;
    font-size: 18px;
    font-weight: bolder;
    margin-right: 5%;
    padding-bottom: 35px;
    line-height: 28px;
}

main h3 {
    color: #2372F0;
    margin-left: 5%;
    margin-right: 5%;
    font-weight: bolder;
    font-size: 18px;
    padding-bottom: 10px;
    line-height: 28px;
}

main h4 {
    color: #2372F0;
    margin-right: 5%;
    margin-left: 5%;
    font-weight: bolder;
    font-size: 18px;
    line-height: 28px;
}

footer {
    grid-area: footer;
    background-color: chocolate
}

/*Her slutter stylingen af indholdet på about me undersiden*/


/*Her starter stylingen af indholdet på malibu undersiden*/
.grid-container-malibu {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "header header header header"
    "headline headline headline headline"
    "picture1 picture1 picture1 picture1"
    "picture2 picture2 picture2 picture2"
    "picture3 picture3 picture3 picture3"
    "endtekst endtekst endtekst endtekst"
    "footer footer footer footer"
    ;
}

header {
    grid-area: header;
    background-color: #2372F0;
}

.headline-tekst {
    grid-area: headline;
    background-color: #F4B5EA;
}

.headline-tekst h2 {
    text-align: center;
    padding: 20px;
    color: #2372F0;
    font-size: 25px;
    font-weight: bolder
}

.picture1 {
    grid-area: picture1;
    background-color: #F4B5EA;
}

.picture1 img {
    width: 80%;
    height: 80%;
    margin-left: 10%;
    margin-right: 10%;
    padding-bottom: 20px;
}

.picture2 {
    grid-area: picture2;
    background-color: #F4B5EA;
}

.picture2 img {
    width: 80%;
    height: 80%;
    margin-left: 10%;
    margin-right: 10%;
}

.picture3 {
    grid-area: picture3;
    background-color: #F4B5EA;
}

.picture3 img {
    width: 80%;
    height: 80%;
    margin-left: 10%;
    margin-right: 10%;
    padding-bottom: 20px;
}

.end-tekst {
    grid-area: endtekst;
    background-color: #F4B5EA;
    padding-bottom: 20px;
}

.end-tekst h3 {
    color: #2372F0;
    font-weight: bolder;
    font-size: 18px;
    line-height: 28px;
    margin-left: 5%;
    margin-right: 5%;
    padding-bottom: 10px;
}

.end-tekst p {
    color: #2372F0;
    font-weight: bolder;
    font-size: 18px;
    line-height: 28px;
    margin-left: 5%;
    margin-right: 5%;
}

footer {
    grid-area: footer;
    background-color: darkkhaki;
}

/*Her slutter stylingen af indholdet på malibu undersiden*/


/*Her starter stylingen af indholdet på folk dance undersiden*/
.grid-container-folkdance {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "header header header header"
    "overskrift overskrift overskrift overskrift"
    "folkdance1 folkdance1 folkdance1 folkdance1"
    "folkdance2 folkdance2 folkdance2 folkdance2"
    "folkdance3 folkdance3 folkdance3 folkdance3"
    "folkdance folkdance folkdance folkdance"
    "footer footer footer footer"
    ;
}

header {
    grid-area: header;
    background-color: #2372F0;
}

.overskrift {
    grid-area: overskrift;
    background-color: #F4B5EA;
}

.overskrift h2 {
    text-align: center;
    padding: 20px;
    color: #2372F0;
    font-size: 25px;
    font-weight: bolder
}

.folkdance1 {
    grid-area: folkdance1;
    background-color: #F4B5EA;
}

.folkdance1 img {
    width: 80%;
    height: 80%;
    margin-left: 10%;
    margin-right: 10%;
    padding-bottom: 20px;
}

.folkdance2 {
    grid-area: folkdance2;
    background-color: #F4B5EA;
}

.folkdance2 img {
    width: 80%;
    height: 80%;
    margin-left: 10%;
    margin-right: 10%;
    padding-bottom: 20px;
}

.folkdance3 {
    grid-area: folkdance3;
    background-color: #F4B5EA;
}

.folkdance3 img {
    width: 80%;
    height: 80%;
    margin-left: 10%;
    margin-right: 10%;
    padding-bottom: 20px;
}

.folkdancecreds {
    grid-area: folkdance;
    background-color: #F4B5EA;
    padding-bottom: 20px;
}

.folkdancecreds h3 {
    color: #2372F0;
    font-weight: bolder;
    font-size: 18px;
    line-height: 28px;
    margin-left: 5%;
    margin-right: 5%;
    padding-bottom: 10px;
}

.folkdancecreds p {
    color: #2372F0;
    font-weight: bolder;
    font-size: 18px;
    line-height: 28px;
    margin-left: 5%;
    margin-right: 5%;
}

footer {
    grid-area: footer;
    background-color: indigo;
}


/*Her slutter stylingen af indholdet på folk dance undersiden*/


/*Her starter stylingen af indholdet på the space odyssey undersiden*/

/*Her slutter stylingen af indholdet på folk the space odyssey undersiden*/